.dashboard-card-1{
    background-color: rgb(212, 208, 208);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    font-weight: 600;
    box-shadow: 3px 3px 3px 3px gray;
}
.dashboard-card-1:hover{
    box-shadow: 3px 3px 3px 3px #a15fd5;
    background-color: #fff;
}
.dashboard-card-1 img{
    margin: auto;
}


.user-detail-1{
    font-weight: 600;
}
